@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@model Demo_SecureCode_ASPdotNETCORE.Pages.AdminOnlyModel
@{
}

@*only Admin can access *@
<h1>
    Welcome Admin ....!!!
</h1>
