@{
    ViewBag.Title = "Categories";
}

<h2>Category List</h2>

<ul class="list-group">
    <table>
        <tr>
            <td>@ViewData["Category"]</td>
            <td>@ViewData["Message"]</td>
        </tr>

    </table>

    <p><a href='/'>Back to home</a></p>

</ul>
